<%i=1
@team.each do |team|%>

<div class="col-lg-3 col-xs-6">
	<div class="panel panel-primary opacity7">
		<div class="panel-heading">
			<a id="editLink" href="#" onclick="editForm(<%=Team.find(team).id%>, '<%=my_team_path(Team.find(team).id)%>');" style="color:#ffffff;" data-toggle="modal" data-target="#update">
				<div class="row">
					<div class="col-xs-6" style="padding-left:5px;padding-right:0px;">
						<div class="top" id="cardTextParent<%=i%>" style="padding-bottom:20px"><span id="cardText<%=i%>" style="margin:5px; font-size:25px"><%=Team.find(team).sport_id%></span></div>
					</div>
					<div class="col-xs-6 text-right" style="padding-right:5px;">
						<div id="cardTextParent<%=i+1%>" ><span id="cardText<%=i+1%>" style="margin:0px; margin-bottom: 0px; font-size:25px"><%=Team.find(team).no_of_players.to_i%><span style="font-size:15px;"> players</span></span></div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-11" style="padding-left:5px;padding-right:0px;">
						<div id="cardTextParent<%=i+2%>" ><span id="cardText<%=i+2%>" style="margin:5px; font-size:25px"><%=Team.find(team).team_name%>(<%=Team.find(team).location.delete(' ').split(',')[0..1].join(',')%>)</span></div>
						<%i+=3%>
					</div>
				</div>
			</a>
		</div>
		<a href=<%=my_teams_matchedTeams_path(id:Team.find(team).id)%>>
			<div class="panel-footer">
				<span class="pull-left">Match Opponents</span>
				<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
				<div class="clearfix"></div>
			</div>
		</a>
		<a href=<%=my_team_path(id:Team.find(team).id)%> data-method="delete">
			<div class="panel-footer">
				<span class="pull-left">Delete Team</span>
				<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
				<div class="clearfix"></div>
			</div>
		</a>
	</div>
</div>
<%end%>
<div class="col-lg-3 col-md-6">
	<div class="panel transparent opacity7">
		<div class="panel-heading">
			<div class="row center">
				<a href = "#" id ="sign" data-toggle="modal" data-target="#login">
					<span class="glyphicon glyphicon-plus huge"></span>
				</a>
			</div>
		</div>
	</div>
</div>
<!--li><a href = "#" id ="sign" data-toggle="modal" data-target="#login"> Login/Register</a> </li-->


<div class="modal fade in" role="dialog" id= "login">
	<div class="modal-dialog modal-sm" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
				<h4 class="modal-title" id="gridSystemModalLabel"><h2>New Team</h2></h4>
			</div>
			<div class="modal-body">
				<%= form_for(@newTeam, url:my_teams_path , class:"form-horizontal") do |f| %>

					<div class="form-group">	  
					<%= f.text_field :team_name, class: "form-control" , placeholder:"Team Name"%>
				</div>

				<div class="form-group">	  
					<%= f.text_field :sport_id, class: "form-control", placeholder:"Sport" %>
				</div>

				<div class="form-group">	  
					<%= f.text_field :no_of_players, class: "form-control", placeholder:"No. of Players" %>
				</div>

				<div class="form-group">	  
					<%= f.text_field :location, class: "form-control" , placeholder:"Location", list: "browser", onkeyPress:"initService(this);", autocomplete: "on"%>
				</div>
			</div>

		</div>
		<div class="modal-footer">
			<input type="button" class="btn btn-default" data-dismiss="modal" value="Close"/>
			<%=f.submit "Submit", class: "btn btn-primary", id: "modalButton" %>
		<% end %>
		</div>
	</div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade in" role="dialog" id= "update">
<div class="modal-dialog modal-sm" role="document">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
			<h2 class="modal-title" id="gridSystemModalLabel">Update Team</h2>
		</div>
		<div class="modal-body">
			<%= form_for(@newTeam, url:my_teams_path, method: :patch , class:"form", id: "updateTeam") do |f| %>

				<div class="form-group">	  
				<%= f.label :team_name, "Team Name" %>
				<%= f.text_field :team_name, class: "form-control" , placeholder:"Team Name"%>
			</div>

			<div class="form-group">	  
				<%= f.label :sport_id, "Team Sport" %>
				<%= f.text_field :sport_id, class: "form-control", placeholder:"Team Sport" %>
			</div>

			<div class="form-group">	  
				<%= f.label :no_of_players, "No. of Players" %>
				<%= f.text_field :no_of_players, class: "form-control", placeholder:"No. of Players" %>
			</div>

			<div class="form-group">	  
				<%= f.label :location, "Location" %>
				<%= f.text_field :location, class: "form-control" , placeholder:"Location", list: "browser", onkeyPress:"initService(this);", autocomplete: "on"%>
			</div>
		</div>

	</div>
	<div class="modal-footer">
		<input type="button" class="btn btn-default" data-dismiss="modal" value="Close"/>
		<%=f.submit "Save Changes", class: "btn btn-primary", id: "modalButton" , onclick:"form_submit();"%>
	<% end %>
	</div>
</div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>

var ids = document.querySelectorAll('[id^="cardTextParent"]').length;

for(i=1 ; i<=ids ; i++){
	var divWidth = $("#cardTextParent"+i).width();
	var text = $("#cardText"+i);
	var fontSize = 20;

	while (text.width() > divWidth)
		text.css("font-size", fontSize -=0.2);
	text.css("display", "inline");
}

function editForm(id, url){
	$(document).ready(function(){
			$('#update').modal('show');
			});
	//alert("Function Called");
	var _parent = document.getElementById('update');
	$.ajax({
url: '/my_teams/getEditDetails',
type: 'GET',
data: { id:id, field2 : "hello2"} ,
contentType: 'application/json;charset=utf-8',
success: function (response) {
//alert(response["team_name"]+response["sport_id"]+response["no_of_players"]+response["location"]);

_parent.querySelector('#team_team_name').value = response["team_name"];
_parent.querySelector('#team_sport_id').value = response["sport_id"];
_parent.querySelector('#team_no_of_players').value = response["no_of_players"];
_parent.querySelector('#team_location').value = response["location"];
_parent.querySelector('#modalButton').value = "Save Changes";

//document.getElementById('modalButton').setAttribute('method',"post");
_parent.querySelector('#new_team').setAttribute('action',url);

},
error: function () {
alert("Error Opening Record");
//your error code
	   }
});

}
function form_submit() {
	document.getElementsByClassName("new_team")[1].submit();
}


function initService(ele) {

		var displaySuggestions = function(predictions, status) {
	
		var dl = document.getElementById('browser');
		if(dl!=null)
			dl.remove();
	
		dl = document.createElement('datalist');
		dl.setAttribute('id','browser');
		ele.appendChild(dl);

		if (status != google.maps.places.PlacesServiceStatus.OK) {
			alert(status);
			return;
		}

		predictions.forEach(function(prediction) {
				var li = document.createElement('option');
				li.appendChild(document.createTextNode(prediction.description));
				document.getElementById('browser').appendChild(li);
				});
	};

	var _location = ele.value
	var service = new google.maps.places.AutocompleteService();
	if(_location != null)
	service.getQueryPredictions({ input: _location }, displaySuggestions);
	
}

</script>
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCda0mjYGow32OasbzgbJloTXQHx3kLaNg&libraries=places&callback=initService"></script>
