<%if !@recievedRequests.empty?%>
<div class="col-lg-7">
	<h2>Requests Recieved</h2>
	<div class="table-responsive">
		<table class="table table-hover table-striped">
			<thead>
				<tr>
					<th>To</th>
					<th>From</th>
					<th>Sport</th>
					<th>No. of Players</th>
					<th>Location</th>
				</tr>
			</thead>
			<tbody>
			<%@recievedRequests.each do |r|%>
				<tr>
					<%to_id = Team.find(r.request_to)%>
					<%from_id = Team.find(r.request_from)%>
				<td><%=to_id[:team_name]%></td>
				<td><%=from_id[:team_name]%></td>
				<td><%=from_id[:sport_id]%></td>
				<td><%=from_id[:no_of_players]%></td>
				<td><%=from_id[:location]%></td>
				<td><a href=<%=my_teams_acceptRequest_path(id: r.id)%>><button type="button" class="btn btn-primary btn-sm">Accept</button></a></td>
				<td><a href=<%=my_teams_deleteRequest_path(id: r.id)%>><button type="button" class="btn btn-danger btn-sm">Reject</button></a></td>
			</tr>
			<%end%>
			</tbody>
		</table>
	</div>
</div>
<%else%>
	<h3>Send a Fucking Request to Someone!!!!!</h3>
<%end%>
