<!DOCTYPE html>
<style>
html{
	background:url(<%=image_url('b2.jpg')%>) no-repeat center center;
	min-height:100%;
	background-size:cover;
}
</style>
<html>
<head>
<title>Myapp</title>
<%= csrf_meta_tags %>
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

</head>
<!-- #E6E6FA -->
<body class="transparent">
<% if user_signed_in? %>
	<div id="wrapper" >
	<%=render 'layouts/adminTheme'%>
	<div id="page-wrapper" style="background-color:transparent;">
		<div class="container-fluid">
			<%= yield %>
		</div>
	</div>
<% else %>
	<%= render 'layouts/header'%>
	<%= yield %>
<%end%>


	<% if user_signed_in? %>
	</div>
<%end%>
		<% flash.each do |name, msg| %>
		<%= content_tag :div, msg, class: "text-center col-xs-3 alert alert-"+name, style: "opacity:0.8; position: absolute;top: 7%; left: 40%;"%>
	<% end %>

<script>
window.setTimeout(function() {
    $(".alert").fadeTo(500, 0).slideUp(500, function(){
        $(this).remove(); 
    });
}, 2000);
</script>
</body>
</html>
